<a href="https://colab.research.google.com/github/EdKas1/project_01/blob/main/SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
#import sqlite3
#connection = sqlite3.connect('teatchers.db')
#cursor = connection.cursor()
#query = """ALTER TABLE School ADD FOREIGN School_id (School_id) REFERENCES Students(School_id);
#"""

#connection.commit()
#connection.close()
#VALUES
#("201", "Иван", "1"),
#("202", "Петр", "2"),
#("203", "Анастасия", "3"),
#("204", "Игорь", "4");
#
#(School_Id , School_Name , Place_Count)
#VALUES
#('1', 'Протон', '200'),
#('2', 'Электрон', '300'),
#('3', 'Атом', '400'),
#('4', 'Фотон', '500');
#CREATE TABLE Students (
  #Students_Id INTEGER NOT NULL PRIMARY KEY,
  #Students_Name TEXT NOT NULL,
  #School_Id INTEGER NOT NULL);


#INSERT INTO Teatcher (Teatcher_Id , Teatcher_Name , School_Id, Joining_Date , Speciality , Salary, Experience)
#VALUES
#('101', 'Галина', '1', '2021 02 10', ' Физик ', '40000', NULL),
#('102', 'Мария', '1', '2018 07 23', ' Химик ', '20000', NULL),
#('103', 'Ольга', '2', '2022 05 19', 'Информатик', '25000', NULL),
#('104', 'Полина', '2', '2017 12 28', 'Физик ', '28000', NULL),
#('105', 'Лидия', '3', '2015 06 04', 'Информатик', '42000', NULL),
#('106', 'Анастасия', '3', '2019 09 11', 'Учитель трудов', '30000', NULL),
#('107', 'Ирина', '4', '2020 08 21', 'Информатик', '32000', NULL),
#('108', 'Виктория', '4', '2017 10 17', 'Географ', '30000', NULL);

OperationalError: ignored

In [16]:
# Задача 6 . Вывести список учителей по ID школы
import sqlite3

def get_connection():
  connection = sqlite3.connect('teatchers.db')
  return connection

def close_connection(connection):
  if connection:
    connection.close()

def get_school_name(school_id):
  try:
    connection = get_connection()
    cursor = connection.cursor()
    select_query = """SELECT * FROM School WHERE School_Id = ?"""
    cursor.execute(select_query,(school_id,))
    record = cursor.fetchone()
    close_connection(connection)
    return record[1]
  except (Exception, sqlite3.Error) as err:
    print ("Ошибка в получении данных", err)

def get_student(school_id):
  try:
    school_name = get_school_name(school_id)
    connection = get_connection()
    cursor = connection.cursor()
    sql_select_query = """SELECT * FROM Students WHERE School_Id = ?"""
    cursor.execute(sql_select_query, (school_id,))
    records = cursor.fetchall()
    print ("Товарищ из школы", school_name)
    for row in records:
      print ("ID: ", row[0])
      print ("Имя: ", row[1])
      print ("ID школы: ", row[2])
      print ("Название школы: ", school_name)
  except (Exception, sqlite3.Error) as err:
    print ("Ошибка в получении данных", err)

print ("Задача 6. Вывести список Students по ID школы \n")
get_student(1)

Задача 6. Вывести список Students по ID школы

Товарищ из школы Протон
ID:  201
Имя:  Иван
ID школы:  1
Название школы:  Протон

In [20]:
# Задача 1 . Вывeсти информацию по Id Student
import sqlite3

def get_connection():
  connection = sqlite3.connect('teatchers.db')
  return connection

def close_connection(connection):
  if connection:
    connection.close()

def get_school_name(student_id):
  try:
    connection = get_connection()
    cursor = connection.cursor()
    select_query = """SELECT * FROM Students WHERE School_Id = ?"""
    cursor.execute(select_query,(school_id,))
    record = cursor.fetchone()
    close_connection(connection)
    return record[1]
  except (Exception, sqlite3.Error) as err:
    print ("Ошибка в получении данных", err)

def get_student(student_id):
  try:
    school_name = get_school_name(student_id)
    connection = get_connection()
    cursor = connection.cursor()
    sql_select_query = """SELECT * FROM Students WHERE School_Id = ?"""
    cursor.execute(sql_select_query, (student_id,))
    records = cursor.fetchall()
    print ("Товарищ из школы", school_name)
    for row in records:
      print ("ID: ", row[0])
      print ("Имя: ", row[1])
      print ("ID школы: ", row[2])
      print ("Название школы: ", school_name)
  except (Exception, sqlite3.Error) as err:
    print ("Ошибка в получении данных", err)

print ("Задача 6. Вывести список Students по ID школы \n")
get_student(201)

Задача 6. Вывести список Students по ID школы

Ошибка в получении данных name 'school_id' is not defined
Товарищ из школы None